* {
    padding: 0;
    margin: 0;
}

html {
    /* Tip */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1370px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid_row {
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
  
}
.grid__6-col {
    width: 65%;
    margin-left: 16px;
    margin-right: 16px;
}
.grid__3-col {
    width: 35%;
    margin-left: 16px;
    margin-right: 16px;
  
}