#header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 45px 16px;
 
}
.container {
    background-color: #f1f1f1;
}
.header_heading {
    font-size: 3.6rem;
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}
.header_sub-heading {
    font-size: 1.5rem;
    margin-top: 1;
    margin-top: 33px;
    margin-bottom: 25px;
}
.header__unknown {
    background-color: #000;
    color: #fff;
    padding: 1px 8px;
    text-align: center;
}
.title-container {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.title-below {
    padding: 0 16px;
    background-color: #fff;
    padding-top: 1px;
}
.title-heading {
    margin: 22px 0;
    font-size: 2.4rem;
}
.title-description {
    margin: 20px 0;
    font-size: 1.7rem;
}
.title-img {
    display: block;
    width: 100%;
}
.title-dates {
    opacity: 0.6;
}
.title-parah {
    font-size: 1.4rem;
    text-align: justify;
    display: block;
    padding-bottom: 16px;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 26px;
}
.title-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-footer{
    margin-top: 15px;
}
.title-btn {
    padding: 14px 30px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
    cursor: pointer;
    outline: none;
}
.title-btn:hover {
    background-color: #ccc;
}
.title-comments {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.4rem;
    font-weight: 600;
}
.title-comments-quantities {
    display: inline-block; 
    padding: 3px 8px;
    background-color: #000;
    color: #fff;
    margin-left: 12px;
}
.title-container-2 {
    margin-top: 45px;
    margin-bottom: 60px;
}
.title-comments-quantities-circle {
    display: inline-block; 
    padding: 3px 8px;
    background-color: #000;
    color: #fff;
    margin-left: 12px;
    border-radius: 50px;
}
.info-img {
    display: block;
    width: 100%;
}
.info-bloger {
    background-color: #fff;
    padding: 16px;
}
.info-name {
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 2.2rem;
}
.info-des {
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
    display: block;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 26px;

}
.popular-block {
    margin-top: 45px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  
}
.popular-header {
    padding: 20px 16px;
    background-color: #f1f1f1;
}
.popular-heading {
    font-weight: 400;
}
.popular-lists {
    background-color: #fff;
    width: 100%;
    list-style-type: none;
}
.popular-items {
    padding:16px 14px 8px 14px;
    border-bottom: 1px solid #ddd;
}
.popular-img {
    width: 50px;
}
.popular-info-box {
    display: inline-block;
    padding-left: 16px;
}
.popular-lorem {
    display: block;
    font-size: 1.9rem;
    margin-bottom: 17px;
}
.popular-sub-lorem {
    font-size: 1.4rem;
    display: block;
    position: relative;
    top: -7px;

}
.popular-items:hover {
    background-color: #ccc;
}
.places-travel {
    background-color: #fff;
    padding: 16px;
}
.places-visit-special {
    font-size: 1.4rem;
    display: block;
    padding: 3px 11px;
    background-color: #000;
    display: inline-block;
    color: #fff;
    margin-right: 6px;
}
.places-vists {
    font-size: 1.1rem;
    display: inline-block;
    background-color: #f1f1f1;
    padding: 1px 7px;
    margin-right: 6px;
    margin-top: 9px;
}
.img-faded:hover {
    opacity: 0.9;
}
#footer {
    background-color: #616161;
    color: #fff;
    height: 112px;
    padding: 32px 16px;
    
}
.footer-btn {
    padding: 14px 30px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
    font-size: 1.6rem;
    opacity: 0.3;
    cursor: no-drop;
}
.footer-btn:hover {
    background-color: #ccc;
}
.footer-btn-next {
    padding: 14px 30px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
    font-size: 1.6rem;
    cursor:pointer;
    margin-left: 5px;
}
.footer-btn-next:hover {
    background-color: #ccc;
}