@media (max-width: 740px) {
    .grid_row {
        display: block;
        margin-right: 0;
    }
    .grid__6-col {
      
        width: 90% !important;
        padding-left: 12px;
        padding-right: 12px; 
    }
  
    
    .grid__3-col {
        width: 90% !important;
        padding-left: 12px;
        padding-right: 12px; 
        padding-bottom: 54px;
    }
}
@media (min-width:720px) and (max-width: 1023px) {
    .grid_row {
        display: block;
        margin-right: 0;
        margin-left: -16px;
    }
    .grid__6-col {
        width: 91%;
        padding-left: 25px;
    }
    .grid__3-col {
        width: 91.5%;
        margin-left: 26px;
       
        padding-left: 12px;
        padding-bottom: 54px;
    }
}