* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
html {
    scroll-behavior: smooth;
 
}
.col {
    float: left;
}
.col-half {
    width: 50%;
}
.col-third {
    width: 33.3333333%;
}
.col-full {
    width: 100%;
}
#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;


}
#nav > li {
    display: inline-block;
}
#nav li {
   
    position: relative;
}
#nav > li > a {
    color: #fff;
}
#nav li a {
    
    line-height: 46px;
    text-decoration: none;
    padding: 0 18px;
    font-size: 15px;
    display: block;
}
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .sub-nav {
    display: block;
}
#nav .sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width:150px ;
    list-style-type: none;
}
#nav .sub-nav a {
    color: #000;
    padding-left: 14px;
}
#nav .sub-nav li:hover {
    color: #000;
    background-color: #ccc;
}
.nav-arrow-down {
    font-size: 12px;
}
.search-btn {
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 25px;
    font-size: 15px;
    cursor: pointer;
}
.search-btn:hover {
    color: #000;
    background-color: #f44336;
}
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(../assets/img/123123131.jpg) top center, no-repeat;
    position: relative;
}
#slider .slider-section {
    position: absolute;
    bottom: 32px;
    color: #ffff;
    text-align: center;
    left: 0;
    right: 0;


}
#slider .slider-heading {
    font-size: 23px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.5;

}
#slider .slider-sub-heading {
    font-size: 15px;
    line-height: 1.5;
    font-weight: bolder;
    margin: 15px 0px;
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
#content .content-heading {
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
}
#content .content-sub-heading {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
    margin: 15px 0px;
}
#content .content-para {
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
    text-align: justify;
}
.theband-section {
    overflow: hidden;
    text-align: center;
    padding: 32px 0px;
}
.band-heading {
    margin: 15px 0;
    line-height: 1.5;
    font-size: 15px;

}
.band-img {
    width: 154px;
    border-radius: 4px;
}
.white {
    color: #fff !important;
}

.tour-container {
    background-color: #000;
}
.tour-list {
    background-color: #fff;
    margin-top: 30px;
}
.tour-list li {
    padding: 9px;
    border-bottom: 1px solid #ccc;
    color: #757575;
    list-style-type: none;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 15px;
}
.tour-span {
    color: #fff;
    background-color: rgb(244, 67, 54);
    padding: 4px 12px;
    margin-left: 12px;
}
.tour-quantity {
    color: #fff;
    background-color: #000;
    float: right;
    height: 22px;
    width: 24px;
    padding-left: 7px;
    border-radius: 100%;
}
.tour-section {
    overflow: hidden;
    padding: 32px 0px;
}
.tour-img {
    width: 100%;
    display: block;
}
.tour-img:hover {
    opacity: 0.7;
}
.tour-number {
    padding: 0px 8px;
}
.tour-info {
    background-color: #fff;
    padding: 16px;
    margin-top: -10px;
}
.tour-info-heading {
    font-size: 15px;
    line-height: 1.5;
    font-weight: bolder;
    margin-bottom: 15px;
}
.tour-info-date {
    margin-bottom: 15px;
    opacity: 0.6;
    font-size: 15px;
    line-height: 1.5;

}
.tour-info-des {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px; }
.tour-info-btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 8px 12px;
    cursor: pointer;
}
.tour-info-btn-content {
    font-size: 14px;
}
.tour-info-btn:hover {
    color: #000;
    background-color: #ccc;
}
.contact-container {
    overflow: hidden;
    padding: 32px 0px;
}
.form-upper {
    padding-left: 8px;
    padding-right: 8px;

}
.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-under {
    margin-top: 8px;
}
.submit-btn {
    float: right;
    color: #fff;
    background-color: #000;
    padding: 6px 12px;
    margin: 16px 0px;
    cursor: pointer;
    border: none;
}
.ti-mobile,
.ti-email,
.ti-location-pin {
    margin-right: 8px;
    line-height: 1.5;
}
.text-contact {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
}

.submit-btn:hover {
    color: #000;
    background-color: #ccc;
}
.map-img {
    width: 100%;
}
#footer {
    height: 150px;
}
.duongdeptrai {
    text-align: center;
    /* margin-top: 57px; */
    color: #ccc;
    transform: translateY(60px);
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}
.open {
    display: flex;
}
.modal-container {
    width: 900px;
    background-color: #fff;
    position: relative;
    animation: modalFade ease 0.5s;
}
.modal-close {
    position: absolute;
    color: #fff;
    float: right;
    right: 0;
    padding: 8px 16px;
    cursor: pointer; 
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}
#modal-header {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 32px 16px;

}
.modal-heading {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    font-size: 30px;
}
.modal-body {
    padding: 0px 16px;
}
.modal-label {
    display: block;
    margin: 15px 0px;
    font-size: 15px;

}
.modal-form {
    
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;

}
.modal-pay {
    padding: 16px;
    margin: 16px 0;
    color: #fff;
    background-color: #009688;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}
.modal-pay:hover {
    color: #000;
    background-color: #ccc;

}
.modal-close-ti-btn  {
    font-weight: bolder;
    font-size: 15px;

}
.modal-help {
    float: right;
    margin: 15px 0px;
    font-size: 15px;

}
.modal-link {
    color: #2196F3;
}
.modal-close-btn {
    padding: 8px 16px;
    margin: 15px 0px;
    display: inline-block;
    color: #fff;
    background-color: #f44336;
    font-size: 15px;
    font-weight: bolder;
    cursor : pointer;

}
.modal-close-btn:hover {
    color: #000;
    background-color: #ccc;
}

@keyframes modalFade {
    from {
        transform: translateY(-130px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}