* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_row {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    flex-wrap: wrap;
}
.grid_col-2 {
    width: 22%;
    overflow-y: auto;
    height: 100vh;
}
.grid_col-8 {
    width: 78%;
    padding: 0 20px;
}
.grid_col-2-4 {
    width: 24.75%;
    padding-left: 20px;
    padding-right: 10px;
}
.grid_col-3-8 {
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes modalFade {
    from {
        opacity : 0;

    }
    to {
        opacity: 1;
    }
}