* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__half {
    width: 50%;
    margin-left: 24px;
    margin-right: 24px;

}
.grid_row {
    display: flex;
    
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-55px)
    }
    to {
        opacity: 1;
        transform: translateY(0)

    }
}
@keyframs easeIn {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}