.col {
    float: left;
}
.col-third {
    width: 33.33333%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Segoe UI",Arial,sans-serif;
    scroll-behavior: smooth;
  
}
@keyframes modalGrowth {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}