

#header {
    height: 46px;
    background-color:#000 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.nav {
    margin: 0;
    display: inline-block;
}
.nav > li {
    display: inline-block;
    position: relative;
}
.nav > li:hover > a {
    background-color: #ccc;
    color: #333;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding: 12px 21px;
    display: block;
    font-weight: 300;
}
.nav li:hover .sub-navbar {
    display: block;
}
.sub-navbar {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    list-style-type: none;
}
.sub-navbar a {
    color: #000;
    font-size: 1.5rem;
    margin-left: -7px;
}
.sub-navbar > li:hover {
    background-color: #ccc;
}
.nav-arrow-down {
    font-size: 1.3rem;
    margin-left: 2px

}
.search-btn {
    color: #fff;
    font-size: 1.5rem;
    padding: 12px 24px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
.search-btn:hover {
    background-color: #f44336;
}
#content {

}
.slider {
    margin-top: 46px;
    position: relative;
}
.slider-img {
    width: 100%;
}
.slider-info {
    position: absolute;
    transform: translate();
    font-size: 1.6rem;
    bottom: 32px;
    text-align: center;
    color: #fff;
    left: 0;
    right: 0;
}
.slider-heading {
    margin: 10px 0;
 
}
.slider-places {
    font-weight: 400;
    font-size: 2.4rem;
}
.slider-sub-heading {
    margin: 15px  0;
    font-weight: 700;
    font-size: 1.6rem;
}
.content-section {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 16px;
}
.theband-section {
  
   
}
.theband-heading {
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
}
.theband-sub-heading {
    margin: 15px 0;
    font-style: inherit;
    opacity: 0.5;
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
}
.theband-para {
    margin: 15px 0;
    font-size: 1.6rem;
    text-align: justify;
  
}
.theband-container {
    padding: 32px 0;
}
.theband-pictures {
    text-align: center;
}
.theband-img-heading {
    font-size: 1.6rem;
    margin: 15px 0;
}
.theband-img {
    width: 154px;
}
.tourdates-section {
    background-color: #000;
    color:#fff;
}
.theband-heading {

}
.tourdates-heading {
    color: #fff;
}
.tourdates-tickets {
    background-color: #fff;
    list-style-type: none;
    margin-top: 40px;
 
}
.tour-dates-tickets-list {
    padding: 10px 16px;
    color: #000;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 2px 8px;
    line-height: 25.6px;
    margin-left: 16px;
}
.quantites {
    float: right;
    display: inline-block;
    padding: 10p;
    color: #fff;
    background-color: #000;
    padding: 2px 8px;
    border-radius: 50%;
    margin-right: 16px;
}
.tourdates-img-places {
    padding: 32px 8px;
}
.tourdates-photos {
    width: 245px;
    display: block;
}
.tourdates-photos:hover {
    opacity: 0.7;
}
.tourdates-img-places-info {
    background-color: #fff;
    color: #333;
    font-size: 1.6rem;
    padding: 0 16px;
}
.tour-dates-img-places-info-heading {
    padding: 15px  0;
    font-weight: 700;

}
.tour-dates-img-places-dates {
    margin-bottom: 15px ;
    opacity: 0.6;
}
.tour-dates-img-places-des{
    margin-bottom: 15px;
}
.btn-tickets {
    border: none;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 16px;
    cursor: pointer;
}
.btn-tickets:hover {
    background-color: #ccc;
    color: #000;

}
.contact-input-row {
    width: 100%;
}
.contact-container {
    padding: 32px 0;
}
.contact-info {
    font-size: 1.8rem;
    font-weight: 400;
}
.info {
    margin-left: 15px;
}
.contact-name {
    display: block;
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}
.contact-input-col {
    padding-left: 8px;
    padding-right: 8px;
}
.contact-input-col-twice {
    margin-top: 8px;
}
.submit-btn {
    border: none;
    padding: 8px 14px;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    float: right;
    margin-right: 16px;
    margin-top: 16px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #ccc;
    color: #000;
}
.map {
    display: block;
    width: 100%;
    filter: grayscale(0.5);
}
#footer {
    height: 215px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.open {
    display: block;
}
.modal-overlay {
    display: flex;
    width: 100%;
    height: 100%;
}
.modal-body {
    
    width: 1000px;
    margin: auto;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    animation: modalGrowth ease 0.4s;
}
.modal__header {
    padding: 42px 16px;
    background-color: rgb(0, 150, 136);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ti-bag {
    margin-right: 16px ;
    color: #fff;
        font-size: 30px;
        font-weight: 800;
}
.modal_heading {
    letter-spacing: 4px;
    font-size: 30px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #fff;
}
.modal-close {
    position: absolute;
    color: #fff;
    font-size: 13px;
    right: 0;
    padding: 20px 19px;
    cursor: pointer;
    font-weight: 800;
}
.modal-close:hover {
    background-color: #ccc;
    color: #000;
}
.modal-content {
    
    padding: 0 16px;
}
.modal-container {
}
.modal-title {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.modal-input  {
    width: 100%;
    display: block;
    padding: 12px 12px;
    border: 1px solid #ddd;
    font-size: 1.5rem;
}
.modal-pay {
        margin: 16px 0;
        width: 100%;
        font-weight: 500;
        outline: none;
        padding: 20px 0;
        border: none;
        background-color: rgb(0, 150, 136);
        color: #fff;
        cursor: pointer;
        font-size: 1.6rem;
}
.modal-icon-check  {
    font-size: 1.5rem;
    
    font-weight: 800;
}
.modal-pay:hover {
    color: #000;
    background-color: #ccc;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-close {
    background-color: #f44336;
    color: #fff;
    padding: 12px 18px;
    outline: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin: 16px 0;
}
.modal-footer-ticlose {
    font-size: 1.1rem;
    font-weight: bolder;
}
.btn-close:hover {
    background-color: #ccc;
    color: #000;
}
.modal-assits {
    margin: 15px 0;
    font-size: 1.7rem;
    
}
.modal-help {
    color: rgb(0, 150, 136);
}