#header {
    height: 58px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: #f1f1f1;
    z-index: 1;
    animation: fade ease 0.2s;
}
.class {
    background-color: red;
    width: 10px;
    height: 10px;
    margin-top: 1px;
    transition: width 2s;
}
.class:hover {
    width: 35px;
}
/* .header__info::after {
    content: "";
    display: block;
    background-color: red;
    height: 1px;
    width: 0px;
    transition: width 0.2s;
} */
.header__info::after:hover {
    width: 34px;
}

.header__gourmet-catering {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Times New Roman", Georgia, Serif;
    white-space: normal;
    letter-spacing: 4px;
    color: #333;
    margin-left: 20px;
    position: relative;
    top: 0px;
    transition: top 0.2s;
}
.header__gourmet-catering:hover {
    top: -4px;
}
.header__gourmet-catering:hover {
    background-color: #ccc;
}
.header__info-container {
    
}
.div {
    display: inline-block;
    position: relative;
}
.header__info {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Times New Roman", Georgia, Serif;
    white-space: normal;
    letter-spacing: 4px;
    color: #333;
    margin-right: 20px;
    transition: top 0.3s;
    position: relative;
    top: 1px;
}
.header__info:hover {
    
  
    top:-4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__info:hover {
    background-color: #ccc;
}
#slider {
    position: relative;
}
.slider-img {
    margin-top: 58px;
    display: block;
    width: 100%;

}
.slider-section {
    position: absolute;
    bottom: 22px;
    padding: 8px 28px;
}
.slider-title {
    margin: 10px 0;
    font-size: 37px;
    letter-spacing: 5px;
    opacity: 0.6;
    font-family: monospace;
}
#content {

}
.content-section {
    padding: 80px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 100px;
}
.content_img-container {
   
}

.content_img
  {
    width: 500px;
    height: 600px;
    object-fit: cover;
    box-shadow:0 10px 20px rgb(0 0 0 / 15% );
   

}
.our-menu-img {
    width: 552px;
    height: 700px;
    object-fit: cover;
    box-shadow:0 10px 20px rgb(0 0 0 / 15% );



}
.content_catering-heading {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 41px;
}
.content_catering-subheading {
    font-size: 19px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 21px;

}
.content_catering-parah {
    display: block;
    font-size: 19px;
    margin: 10px 0;
    line-height: 1.9rem;
    text-align: justify;
  
}
.content_catering-parah-special {
    display: block;
    font-size: 19px;
    margin: 18px 0;
    line-height: 1.9rem;
    text-align: justify;
    opacity: 0.7;

}
.our-menu-row {
    padding-top: 100px;
}
.our-menu-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 5px;
    margin-bottom: 60px;
}
.our-menu-title {
    letter-spacing: 4px;
    font-size: 19px;
    margin-top: 37px;
    margin-bottom: 20px;
}
.our-menu-subtitle {
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 56px;
}
.our-menu-img {

}
.contact-heading {
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.contact-sub-heading {
    font-size: 15px;
    margin: 25px 0;
}
.contact-title {
    font-weight: bolder;
    font-size: 18px;
    color: #607d8b;
}
.contact-form {
    padding: 16px 12px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    transition: all, 0.3s;
}
.contact-form:hover {
    border-bottom: 2px solid #ff7730;
}
.contact-btn {
    margin: 16px 0;
    padding: 10px 16px;
    border: none;
    color: #000;
    background-color: #f1f1f1;
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: top 0.5s;
}
.contact-btn:hover {
    top :-6px;
    box-shadow:0 10px 20px rgb(0 0 0 / 15% );
}
#footer {
    height: 116px;
    background-color: #f1f1f1;
}