@media (max-width: 740px) {
    .grid_row {
        display: block;
        margin-right: 0;
    }
    .grid__6-col {
        width: 90% !important;
        padding-left: 10px;
        padding-right: 12px; 
    }
    .jane-heading {
        display: none;
    }
    .jane-blog {
        display: none;
    }
    .jane-btn {
    padding: 11px 11px;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 0;
    }
    .title-comments {
        display: none;
    }
    .modal_body {
            width: 280px;
            max-width: 100%;
            height: 294px;
            background-color: #fff;
            margin: auto;
            margin-top: 128px ;
            padding: 32px 32px 8px 32px  ;
            margin-right: 18px
        ;
    }
    .modal-email {
        width: 83%;
    }
    .grid__3-col {
        width: 90% !important;
        padding-left: 10px;
        padding-right: 12px; 
        padding-bottom: 54px;
    }   
}
@media (min-width:720px) and (max-width: 1023px) {
    .grid_row {
        display: block;
        margin-right: 0;
        margin-left: -16px;
    }
    .grid__6-col {
        width: 91%;
        padding-left: 25px;
    }
    .grid__3-col {
        width: 91.5%;
        margin-left: 26px;
       
        padding-left: 12px;
        padding-bottom: 54px;
    }
}