@media (max-width:740px) {
    #header {
        display: block;

    }
    .header__gourmet-catering {
        margin-left: 0px;
        padding: 20px 16px;
    }
    .header__info-container {
        display: none;
    }
    .content_img {
        /* display: none; */
        width: 100%;
            height: auto;
    }
    .slider-section {
        /* display: none; */
        width: 100%;
        height: auto;
    }
    .grid_row {
        display: block;
    }
    .grid__half {
       width: 86.5%;
    }
  
    .content_img-container {
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media (min-width:740px) and (max-width:1023px) {
    .grid_row {
        display: block;
    }
    .content_catering.grid__half {
        margin-top: 40px;
        margin:auto;
    }
    .grid__half {
        width: 100%;
    }
    .content_img {
        width: 100%;
        height: 100%;
        
    }
    .content_catering-heading {
        margin-top: 20px;
    }
    .content_img-container {
        margin:auto;
        padding-left: 20px;
        padding-right: 20px;
      
    }
    .content_catering {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tablet-contact {
        padding-bottom: 210px;
    }
    .header__info-container {
        display: flex;
        align-items: center;
    }
}