.logo-header {
    padding: 24px 20px;
}
.logo-heading {
    margin: 14px 0 10px 0;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 700;
}
.logo-container {
   padding: 55px 0;
   
}
.logo-lists {
    list-style-type: none;
}
.logo-sub-lists {
    list-style-type: none;

}
.logo-info {
    list-style-type: none;
    padding-top: 68px;
}


.logo-black::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: 3px;
    border: 6px solid;
    border-color: black transparent transparent transparent;
    

}
.logo-container-fixed {
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    width: 272px;
    padding-left: 22px;
}
.logo-clothes {
    padding: 12px 16px;
    display: block;
    width: 100%;
    color: #757575;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}
.logo-info-contact {
    padding: 12px 16px;
    display: block;
    width: 100%;
    color:#333;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;

}
.logo-items a:hover {
    color: #000;
    background-color: #ccc;
}
.logo-special {
    background-color: #ccc;
    color: #000 !important;
}
.logo-black {
    color: #000 !important;
}
.nav-arrow-down {
    font-size: 1.2rem;
    font-weight: 800;
}
.logo-sub-lists {
    padding: 12px 28px 12px 23px;
}
.logo-smaller {
    font-size: 1.4rem;
}
.logo-sub-special {
    color: #000;
    background-color: #f1f1f1;
}
.angle-right {
    position: relative;
}
.angle-right::after {
    content: "";
    border: 5px solid;
    display: inline-block;
    border-color: transparent transparent transparent black;
    position: absolute;
    left: 18px;
    top: 14px;
}
.logo-skinny {
    display: inline-block;
    margin-left: 19px;
    font-size: 1.4rem;
}

#header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-jeans-heading {
    margin: 14px 0 10px 0;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.header-icon {
    font-size: 2.2rem;
}
.header-icon-cart {
    font-weight: 900;
    margin-right: 20px;
}
.new-arrivals {
    position: relative;
}
.new-arrivals-img {
    width: 100%;
    height: 612px;
}
.new-arrivals-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 44px 48px;
    color: #fff;
}
.new-arrivals-heading {
    font-size: 7.3rem;
    margin: 30px 0;
    font-weight: 400;
    font-family: "auto";
}
.new-arrivals-collection {
    margin: 74px 0 20px 0;
    font-size: 3.3rem;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: revert;
}
.new-arrivals-links {
    display: inline-block;
    padding: 17px 25px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 10px;
}
.new-arrivals-links:hover {
    color: #000;
    background-color: #ccc;
}
.clothes-items {
    padding-top: 18px;
    font-size: 1.7rem;
    opacity: 0.5;
}
.images-container-clothes {
    display: flex;
}
.img-clothes {
    display:block;
    width: 100%;
    filter:grayscale(0.8);
    margin-top: 18px;
}
.container-img-clothes {
   position: relative;
}
.new-clothes {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    color: #fff;
    background-color: #000;
    font-size: 1.3rem;
}
.clothes-name {
    margin-top: 12px;
    font-size: 1.7rem;
    color: opacity;
    opacity: 0.8;
    margin-bottom: 8px;
}
.clothes-price {
    font-size: 1.5rem;
    color: #000;
    font-weight: 750;
}
.container-img-clothes:hover .buy-btn {
    display: block;
}
.buy-btn {
    display: none;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 35%;
    left: 23%;
    left: 22%;
    padding: 12px 18px;
    font-size: 1.6rem;

}
.buy-btn:hover {
    color: #000;
    background-color: #ccc;
}
.subcribe-box {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #000;
    color: #fff;
    margin-top: 22px;
    padding: 32px 20px;
}
.subscribe-heading {
    font-weight: 300;
    font-size: 4rem;
    margin-top: 40px;
    letter-spacing: 1.5px;
}
.subscribe-parah {
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 18px;
    line-height: 1.6rem;
    letter-spacing: 1px;
}
.subscribe-email {
    display: block;
    width: 100%;
    padding: 10px 10px;
}
.submit-btn {
    background-color: #F44336;
    color: #fff;
    padding: 12px 20px;
    border: none;
    margin-top: 20px;
    font-size: 1.6rem;
    cursor: pointer;
}
.submit-btn:hover {
    color: #000;
    background-color: #ccc;
}
#footer {
    padding-bottom: 40px;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.footer-top {
    margin-top: 60px;
}
.footer-heading {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
}
.footer-parah {
    text-align: center;
    margin-top: 14px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.footer-input {
    padding: 8px 8px;
        width: 100%;
        margin-bottom: 14px;
        border: 1px solid #ccc;
}
.footer-submit {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: block;
    border: none;
    padding: 9px;
    cursor: pointer;
    font-size: 1.2rem;
}
.footer-links {
    display: block;
    text-align: center;
    margin-top: 14px;
    font-size: 1.3rem;
    color: #999;
    /* text-decoration: none; */
    background-color: transparent;
}
.modal-body-container {
    padding: 24px 16px;
}
.modal-heading {
    letter-spacing: 4px;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 10px 0;
}
.modal-sub {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 15px;
}
.modal-btn {
    border: none;
    width: 100%;
    padding: 18px 0;
    margin-top: 22px;
    font-size: 1.8rem;
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
    outline: none;
}
.modal-btn:hover {
    background-color: #ccc;
}
.modal-email { 
    width: 100%;
    padding: 12px 10px;
    display: block;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: modalFade ease 0.2s;
}
.open {
    display: block;
}
.modal_overlay {
    width: 100%;
    display: flex;
    height: 100%;
}
.modal_body {
    width: 904px;
    height: 294px;
    background-color: #fff;
    margin: auto;
    margin-top: 128px;
    padding: 32px 32px 8px 32px;
    animation: fadeIn ease 0.5s;
}

.modal-heading {
    letter-spacing: 4px;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 10px 0;
}
.modal-sub {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 15px;
}